.main {
    // .main__page-wrapper
    &__page-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    // .main-selectors
    &-selectors {
        // .main-selectors__municipalities-selector
        &__municipalities-selector {
            margin-bottom: 20px;
        }

        // .main-selectors__streets-selector
        &__streets-selector {
            display: none;
            margin-bottom: 20px;
        }
    }

    // .main__house-info
    &__house-info {
        display: none;
    }

    // .main__footer-text
    &__footer-text {
        margin-top: 50px;
    }

    // .main__dropdown-content
    &__dropdown-content {
        margin: 0 20px;
    }
}

table {
    margin-top: 10px;
    border-collapse: collapse;

    & .percent_tr td {
        background: #EAEBEE;
        font-weight: bold;
        color: #000;
    }
}

th {
    text-align: center;
}

th, td {
    padding: 8px;
}

table, colgroup, thead, tbody, tfoot, tr, th, td {
    border: 1px solid black;
}

th {
    background-color: #fff;
    font-family: "Inter-SemiBold";
}

table a {
    color: #66c;
}

#dropdown-toggle:checked + .main__dropdown-content {
    margin: 0 20px 15px;
}

#wp_top_preloader {
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
}

.ss-content .ss-list .ss-option.ss-disabled ~ .ss-optgroup {
    padding: var(--ss-spacing-s) var(--ss-spacing-s) var(--ss-spacing-s) calc(var(--ss-spacing-l)*3);
}
