@use "sass:math";

@import "../base/mixins";
@import "../base/variables";

.main {
    // .main-receipts-form
    &-receipts-form {
        display: flex;
        flex-direction: column;
        border: 1px solid #000000;
        border-radius: 6px;
        padding: 40px 60px 40px 40px;
        align-items: flex-end;
        margin-top: 10px;

        // .main-receipts-form__control
        &__control {
            display: flex;
            flex-direction: column;

            &:first-child {
                margin-top: 25px;
            }

            // .main-receipts-form__control:not(:last-child)
            &:not(:last-child) {
                margin-bottom: 25px;
            }

            &:nth-child(6), &:nth-child(7) {
                display: block;
            }
        }

        // .main-receipts-form__heading
        &__heading {
            font-family: "Inter-SemiBold";
            font-size: 24px;
            margin: 20px 0;
            text-align: center;
        }

        // .main-receipts-form__half-width
        &__half-width {
            width: 50%;
        }

        // .main-receipts-form__label
        &__label {
            font-family: "Inter-Medium";
            font-size: 16px;
            margin-bottom: 8px;
        }

        // .main-receipts-form__input
        &__input {
            font-size: 16px;
            border-radius: 6px;
            padding: 13px 0 13px 28px;

            // .main-receipts-form__input::placeholder
            &::placeholder {
                font-family: "Inter-SemiBold";
                color: #00000033;
            }
        }

        // .main-receipts-form__button
        &__button {
            padding: 8px 32px;
            background-color: #3D9DF7;
            font-family: "Inter-SemiBold";
            font-size: 16px;
            color: #fff;
            border-radius: 8px;
        }

        &-errors {
            color: #fd2f2f;
        }
    }
}

.input-file {
    position: relative;
    display: inline-block;
    width: 300px;

    @media (max-width: $mobileSmall) {
        width: 100%;
    }
}
.input-file-btn {
    position: relative;
    display: block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #3d9df7;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin-top: 10px;
}
.input-file-text {
    padding: 0 10px;
    line-height: 40px;
    display: inline-block;
}
.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.input-file input[type=file]:focus + .input-file-btn {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

#address1 {
    margin-top: 8px;
}
