.main {
    // .main__page
    &__page {
        // .main__page-wrapper
        &-wrapper {
            a:link,
            a:visited {
                text-decoration: underline;
            }
            ul li {
                list-style: initial;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: "Inter-SemiBold";
                font-size: 32px;
            }
            table, colgroup, thead, tbody, tfoot, tr, th, td {
                border: 1px solid black;
                text-align: center;
            }

            th {
                background-color: #fff;
                font-family: "Inter-SemiBold";
            }
        }
    }
}
