@use "sass:math";

@import "base/mixins";
@import "fonts/fonts";

@import "base/variables";

@import "base/null";

[class*="__container"] {
    @if ($maxWidthContainer > 0) {
        max-width: rem($maxWidthContainer);
        box-sizing: content-box;
        margin: 0 auto;
    }

    @if ($containerPadding > 0) {
        padding: 0 rem(math.div(22, 2));

        @media (min-width: $mobile) {
            padding: 0 rem(math.div(70, 2));
        }
        @media (min-width: $tablet) {
            padding: 0 rem(math.div(150, 2));
        }
        @media (min-width: $laptop) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }
}

.site-content {
    background: #F1F3F5;

    @media (max-width: $tablet) {
        .site__container {
            display: flex;
            flex-flow: column;
        }
    }

    // .site-content__clear
    &__clear {
        clear: both;
    }
}

.main {
    // .main-page
    &__page {
        // .main__page-heading
        &-heading {
            margin: 30px 0;
            font-family: "Inter-SemiBold";
            font-size: 32px;

            @media (max-width: $laptop) {
                font-size: 30px;
            }
        }
    }

    // .main-files
    &-files {
        // .main-files__list
        &__list {
            display: flex;
            flex-direction: column;
            border-radius: 8px;
        }

        // .main-files__item
        &__item {
            background: #fff;
            padding: 39px 39px 39px 88px;

            // .main-files__item:not(:last-child)
            &:not(:last-child) {
                border-bottom: 1px solid #00000033;
            }

            // .main-files__item:first-child
            &:first-child {
                border-radius: 8px 8px 0 0;
            }

            // .main-files__item:last-child
            &:last-child {
                border-radius: 0 0 8px 8px;
            }

            // .main-files__item:only-child
            &:only-child {
                border-radius: 8px;
            }

            // .main-files__item:hover
            &:hover {
                background: #0000001A;
            }
        }

        // .main-files__link
        &__link {
            font-family: "Inter-SemiBold";
            color: #000;
            font-size: 20px;
            text-decoration: none !important;

            @media (max-width: $laptop) {
                font-size: 18px;
            }
        }
    }

    // .main__dropdown
    &__dropdown {
        margin: 48px 0;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        border-radius: 6px;
        position: relative;
        font-size: 16px;

        // .main__dropdown-content
        &-content {
            height: 0;
            overflow: hidden;
            transition: height .5s ease-out;
        }

        // .main__dropdown-button
        &-button {
            cursor: pointer;
            width: 100%;
            padding: 14px 0 14px 20px;
        }

        // .main__dropdown-button:after
        &:after {
            content: "";
            width: 26px;
            height: 17px;
            position: absolute;
            background-image: url("@/assets/images/owners-premises-operator/arrow-bottom.png");
            background-repeat: no-repeat;
            top: 15px;
            right: 20px;
            cursor: pointer;
        }
    }
}

#dropdown-toggle {
   display: none;
}

.overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #00000026;
    top: 0;
    z-index: 1;
}

@media (max-width: $laptop) {
    body {
        font-size: 18px;
    }
}

@media (max-width: $tablet) {
    body {
        font-size: 16px;
    }
}

@media (max-width: $mobile) {
    body {
        font-size: 14px;
    }
}

.warning-banner {
    &__wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }

    &__tech_work {
        background: #ff5757;
        padding: 30px 0;
    }
}



@import "blocks/header";

@import "blocks/breadcrumbs";
@import "blocks/aside";

@import "blocks/third-party-sites";

@import "blocks/footer";
